# Rider spezifische Dateien und Ordner
.idea/
.idea_modules/

# Build-Verzeichnis
/bin/
/obj/

# User-spezifische Dateien
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows spezifische Dateien
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# OSX spezifische Dateien
.DS_Store
.AppleDouble
.LSOverride

# Linux spezifische Dateien
*~
.nfs

# Paketmanager
**/node_modules/
**/bower_components/
**/jspm_packages/
**/typings/

# Logs und Temporäre Dateien
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# Weitere Rider spezifische Dateien
.idea/
.idea_modules/
.idea_dotnet
.idea_dotfiles
.idea_dive_version
.idea_deployment.xml
.idea_libraries/
